.payments {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  #paymentstable td, .payments th {
    border: 1px solid #ddd;
    padding: 8px;
  }
  .scrool{
    display: block;
    max-height: 200px;
    overflow-y: scroll;
  }
  #paymentstable thead,
tbody tr {
  display: table;
  width: 100%;
  table-layout: fixed;
}
  
  #paymentstable tr:nth-child(even){background-color: #f2f2f2;}
  
  #paymentstable tr:hover {background-color: #ddd;}
  
  #paymentstable th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color:#295080;
    color: white;
  }
  .head{
    display: flex;
    justify-content: center;
    border-top: 5%;
    border-bottom: 5%;
}
.loading{
    display: flex;
    justify-content: center;
    align-items: center;
}