.bills{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.head{
    display: flex;
    justify-content: center;
    border-top: 5%;
    border-bottom: 5%;
}

#billsTable {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  #billsTable td, #billsTable th {
    border: 1px solid #ddd;
    padding: 8px;
  }
  
  #billsTable tr:nth-child(even){background-color: #f2f2f2;}
  
  #billsTable tr:hover {background-color: #ddd;}
  
  #billsTable th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color:#295080;
    color: white;
  }
  #billsTable td .icon{
      display: flex;
      justify-content: center;
  }
  .loading{
      display: flex;
      justify-content: center;
      align-items: center;
  }