.students{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    
}
.head{
    display: flex;
    justify-content: center;
    border-top: 5%;
    border-bottom: 5%;
}

#tableStudents {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
    
  }
  .scrool{
    display: block;
    max-height: 200px;
    overflow-y: scroll;
  }
  #tableStudents thead,
tbody tr {
  display: table;
  width: 100%;
  table-layout: fixed;
}
  #tableStudents td, #tableStudents th {
    border: 1px solid #ddd;
    padding: 8px;
  }
  
  #tableStudents tr:nth-child(even){background-color: #f2f2f2;}
  
  #tableStudents tr:hover {background-color: #ddd;}
  
  #tableStudents th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color:#295080;
    color: white;
  }
  #tableStudents td .icon{
      display: flex;
      justify-content: center;
  }
  .loading{
    display: flex;
    justify-content: center;
    align-items: center;
}