@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");
.App {
    font-family: "roboto";
}

.nopadding {
    padding: 0 !important;
    margin: 0 !important;
}

.content {
    padding: 30px 100px;
}
